In [ ]:
1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named 
test.txt.

In [1]:
test1='This is a test of the emergency text system,'
outfile = open('test.txt', 'w')
outfile.write(test1)
outfile.close()

In [ ]:
2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as f:
    test2 = f.read()
    print(test2)

This is a test of the emergency text system,

In [3]:
test1 == test2

True

In [ ]:
3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

import csv
outcsv=open("books.csv",'w+')
outcsv.write(text)
outcsv.close()

In [ ]:
4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: 
    title (text), author (text), and year (integer).

In [6]:
import sqlite3
db = sqlite3.connect('books1.db')
curs = db.cursor()
curs.execute('''create table book (title text, author text, year int)''')
db.commit()

In [ ]:
5. Read books.csv and insert its data into the book table.

In [8]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

db.commit()

In [ ]:
6. Select and print the title column from the book table in alphabetical order.

In [9]:
sql = 'select title from book order by title asc'
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [10]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [ ]:
7. From the book table, select and print all columns in the order of publication.

In [11]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [12]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007

In [ ]:
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [15]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
     print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)
('Thud!',)

In [ ]:
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called 
test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [16]:
pip install redis

Requirement already satisfied: redis in c:\users\amitp\anaconda3\lib\site-packages (4.1.1)
Requirement already satisfied: packaging>=20.4 in c:\users\amitp\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\amitp\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\amitp\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\amitp\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis 
conn = redis.Redis() 
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'}) 
conn.hgetall('test')

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)